<main>
  <section>
    <div>
      <h3 class="section-title">Items
        <div>
          <label class="form-label" for="name">Search Item</label>
          <input class="form-control" id="name" type="text" [(ngModel)]="searchText"/>
        </div>
      </h3>
    </div>
    <ul class="card-list">
      <li class="card" *ngFor="let item of items | nameFilter: searchText">
        <div class="card-title">{{item.name}}</div>
        <img class="card-image" src="/assets/images/item-image.png" alt="item image">
        <div class="card-footer">
          <div>Price: &euro; {{item.price}}</div>
          <div class="stock">
            <span>{{item.stockUrgency}}</span>
            <img class="icon" src="/assets/images/warning-icon.png" alt="warning">
          </div>
        </div>
      </li>
    </ul>
  </section>
</main>
