<main>
  <section>
    <h3 class="section-title">Create Customer</h3>
    <form>
      <div class="row">
        <div class="col-1">
          <label class="form-label" for="firstName">Firstname</label>
          <input class="form-control" id="firstName" type="text"/>
        </div>
        <div class="col-1">
          <label class="form-label" for="lastName">Lastname</label>
          <input class="form-control" id="lastName" type="text"/>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <label class="form-label" for="email">Email</label>
          <input class="form-control" id="email" type="email"/>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <label class="form-label" for="phoneNumber">Phone number (mobile)</label>
          <input class="form-control" id="phoneNumber" type="tel"/>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label class="form-label" for="street">Street</label>
          <input class="form-control" id="street" type="text"/>
        </div>
        <div class="col-1">
          <label class="form-label" for="number">Number</label>
          <input class="form-control" id="number" type="text"/>
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <label class="form-label" for="postalCode">Postalcode</label>
          <input class="form-control" id="postalCode" type="text"/>
        </div>
        <div class="col-1">
          <label class="form-label" for="country">Country</label>
          <select id="country" class="form-select">
            <option>Belgium</option>
          </select>
        </div>
      </div>
      <div class="row">
        <button class="col-4 btn btn-create" type="submit">CREATE</button>
        <button class="col-1 btn">CANCEL</button>
      </div>
    </form>
  </section>
</main>
